generated_datasets/
feature_extractor_weights/
__pycache__/
coco_subsets/train2017/
*.zip
coco_subsets/
metrics_calculation/precalculated_weights/
metrics_calculation/rb_swap/.ipynb_checkpoints/

transformed_features_in_vlm/weights
transformed_features_in_vlm/dataset
transformed_features_in_vlm/reconstructor/samples/
transformed_features_in_vlm/experiments/.ipynb_checkpoints/
transformed_features_in_vlm/reconstructor/checkpoint/
transformed_features_in_vlm/experiments/images/